@import url("../colors.css");

@import url("main-ui__game-iframe.css");

:root {
    --main-ui-tab-switcher-padding: 0.5em;
    --main-ui-tab-content-padding: 1em;
}

.main-ui {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: min-content auto;
}

.main-ui__tab-switcher {
    grid-row: 1 / 2;

    padding: var(--main-ui-tab-switcher-padding);
}

.main-ui__tab-contents {
    grid-row: 2 / -1;

    position: relative;
    height: 100%;
    overflow: auto;
}

.main-ui__tab-content {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -2;

    padding: var(--main-ui-tab-content-padding);

    background-color: var(--primary-background-color);
}

.main-ui__tab-content--default {
    z-index: -1;
}

.main-ui__tab-content:target {
    z-index: 0;
}