@import url('../../colors.css');

/* Tab content */
tab-content {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 1em;
}

/* iframe to show games */
tab-content iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--game-iframe-background-color);
  border: none;
}