@import url("../colors.css");

@import url("not-mobile-user-agent.css");
@import url("web-sql-unsupported.css");

.full-page-popup__backdrop {
    padding: 2em;

    background-color: var(--full-page-popup-backdrop-background-color);
}

.full-page-popup__content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding: 1em;
    overflow: auto;

    background-color: var(--full-page-popup-background-color);
}

.full-page-popup__header {
    font-size: 32px;
    margin: 0.5em 0;
    text-align: center;
}

.full-page-popup__subheader {
    font-size: 24px;
    margin: 1em 0;
}