.not-mobile-user-agent__backdrop {
    z-index: 1;
}

.not-mobile-user-agent__content {
    text-align: center;
}

.not-mobile-user-agent__setup-steps {
    width: 90%;
    max-width: 600px;
    margin: auto;

    text-align: start;
}