@import url('../../../colors.css');

full-page-popup {
  display: block;

  width: 100%;
  max-width: 800px;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  overflow: auto;

  background-color: var(--full-page-popup-background-color);
  color: var(--full-page-popup-text-color);
}

full-page-popup .header {
  font-size: 32px;
  margin: 0.5em 0;
  text-align: center;
}

full-page-popup .subheader {
  font-size: 24px;
  margin: 1em 0;
}

full-page-popup a:link {
  color: var(--primary-light-link-color);
}
full-page-popup a:visited {
  color: var(--primary-light-link-visited-color);
}
full-page-popup a:hover {
  color: var(--primary-light-link-hover-color);
}