.build {
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 0 0;
}

.build-farm {
	background-image: url(../img/build/farm.png);
}

.build-farm[data-building-color="red"] {
	background-position: 0 50%;
}

.build-farm[data-building-color="blue"] {
	background-position: 0 100%;
}

.build-castle {
	background-image: url(../img/build/castle.png);
}

.build-castle[data-building-color="red"] {
	background-position: 0 50%;
}

.build-castle[data-building-color="blue"] {
	background-position: 0 100%;
}













