@font-face {
	font-family: 'nes-1';
	src: url('../font/PressStart2P.ttf');
}

.wrapper {
	font-family: nes-1, "Courier New", Courier, monospace;
}

.main-button {
	font-size: 1.2em;
	line-height: 1.5em;
	text-shadow: -1px 0px 0px #000, -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000, 1px 1px 0px #000, 0px 1px 0px #000, -1px 1px 0px #000;
	text-transform: uppercase;
	text-align: left;
	padding: 0.2em;
	/*display: block;*/
}

.header {
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
}
